@charset "utf-8";

@font-face {
    font-family: 'vazir';
    src: url(/fonts/vazir-font-v29.1.0/) format('truetype');
}
@font-face {
    font-family: 'shabnam';
    src: url(/fonts/shabnam/) format('truetype');
}
@font-face {
    font-family: 'sahel';
    src: url(/fonts/sahel/) format('truetype');
}
@font-face {
    font-family: 'iran sans';
    src: url(/fonts/A-Iranian-Sans/) format('truetype');
}
@font-face {
    font-family: 'iran nastaliq';
    src: url(/fonts/IranNastaliq/) format('truetype');
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'sahel', 'vazir';
    background-color: #fff;

}

.loader {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.header {
    display: flex;
    font-family: "iran sans";
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.logo {
    font-size: 45px;
    font-family: "Inter"; 
    color: #1B4990;
}

.nav-menu {
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s ease-out;
    background-color: transparent;
}

.nav-menu ul {
    list-style: none;
    display: inline-flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-menu ul li a {
    position: relative;
    font-family: 'vazir' , sans-serif;
    color: #333;
    transition: color 0.3 ease;
    padding-bottom: 5px;
    font-weight: bold;
}

.nav-menu ul li a ::after {
    content: "";
    position: absolute;
    bottom: 0; right: 0;
    height: 2px; width: 0;
    background-color: #2563EB;
    transition: width 0.4 ease-in-out;
    border-radius: 4px;
}

.nav-menu ul li a:hover {
    color: #fff;
    background-color: #2563EB;
    border-radius: 4px;
}

.nav-menu ul li a:hover::after{
    width: 100%;
}
