@charset "utf-8";

@font-face {
    font-family: 'sahel';
    src: url(/fonts/sahel/) format('truetype');
}



body {
    margin: 0;
    padding: 0;
    font-family: 'sahel', sans-serif;
    background-color: #fff;

}

.loader {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.header {
    display: flex;
    font-family: "sahel" , sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.logo {
    font-size: 45px;
    font-family: "Inter"; 
    color: #2b4f86;
}

.nav-menu {
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s ease-out;
    background-color: transparent;
}

.nav-menu ul {
    list-style: none;
    display: inline-flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-menu ul li a {
    position: relative;
    font-family: 'sahel' , sans-serif;
    color: #333;
    transition: color 0.3s ease;
    padding-bottom: 5px;
    font-weight: bold;
}

.nav-menu ul li a:hover {
    color: #333;
    background-color: #b9dffd;
    border-radius: 4px;
}

.hero-section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

.hero-section h1 {
    font-size: 50px;
    font-family: 'sahel' , sans-serif;
    color: #1b4990;
    margin-bottom: 20px;
    line-height: 1.2;
    max-width: 800px;
}

.cta_button_main {
    background-color: #2563eb;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-decoration: none;
}

.cta_button_main:hover {
    background-color: #1e40af;
}
